* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


html, body {

    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-size: 100%;
    border: 0px;
    margin: 0px;
    height: 100%;
    background-color: black;
    color: white;

}

#header_chunk {
    height: 100%;
    width: 100%;
    background-image: url("bg1.jpg");
    margin: auto;
}

#header_intro {
    height: 50%;
    font-size: 160%;
    font-style: italic;
    color: rgb(52, 82, 82);
    margin: auto auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

#about_me_text, #projects_text {
    width: 90%;
    height: 90%;
    margin: auto;
}

#about_me, #projects {
    background-color: black;
    color: white;
 
}

#contact {
    background-color: white;
    color: black;
}

div {
    margin: auto;
    width: 60%;
}

img {
    max-width:100%;
    max-height:100%;
}

#about_me_picture {
    width: 50%;
    height: 50%;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 5em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.75em;
}

h5 {
    font-size: 2.25em;
}

h6 {
    font-size: 1.4em;
}

h7 {
    font-size: 2em;

}

h8 {
    font-size: 1.35em;


}




#buttons {
    background-color: #26E2D9;
    height: 170px;
    width: 100%;
    margin: auto;
}

button {
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}






#content_to_show {
    display: none;
}

